*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body-calculator {
            background: #2f343f;
            color: #fff;
            font-family: "Cinzel", serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 0;
            padding-bottom: 20px;
        }
header {
    background-color: #3B4049;
    width: 100%;
    height: 30%;
    text-align: center;
    color: #fff;
}
a{
    position: fixed;
    margin: auto;
    top: 5px;
    right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    background-color: #e95420;
    padding: 2px 2px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
a:hover{
    background-color: #1e222a;
    color: #fff;
    transition: 0.3s ease;
}
.container{
            background: #2d2d2d;
            margin-top: 20px;
            padding: 20px;
            border: 5px solid #000;
            border-radius: 20px;
            box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.tecla:hover{
    background-color: #000;
    color: #fff;
}
#operacionRealizada{
    text-align: right;
    font-size: 1.2rem;
    letter-spacing: 5px;
    min-height: 90px;
    color: #ccc;
}
#textResultado{
    font-size: 2rem;
    color: #0f0;
    text-align: right;
}
.fila{
    display: flex;
    margin: 5px 0;
}
.tecla {
    width: 70px;
   height: 70px; 
            flex: 1;
            margin: 5px;
            padding: 20px;
            font-size: 1.2em;
            background: #444;
            border: none;
            border-radius: 10px;
            color: #fff;
            cursor: pointer;
            transition: .3s;
        }
        .tecla:hover {
            background: #666;
        }

.funcion{
    background-color: #e67e88;
}