body {
    background-image: url("/Mini-Os/assets/wallpapers/background_Os.png");
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}



/* Barra Ubuntu */
.ubuntu-bar {
    height: 28px;
    background-color: #2C2C2C; /* color real */
    color: white;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 12px;
    font-family: "Ubuntu", sans-serif;
    font-size: 14px;
    letter-spacing: 0.3px;
}

/* Centro (hora) */
.center {
    display: flex;
    justify-content: center;
}

/* Iconos derecha */
.right {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.right svg {
    cursor: pointer;
    transition: 0.15s;
}

.right svg:hover {
    opacity: 0.6;
}
