*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2f343f;
    font-family: "Cinzel", serif;
    padding: 0;
}

header {
    background-color: #3B4049;
    width: 100%;
    height: 30%;
    text-align: center;
    color: #fff;
}
a{
    position: fixed;
    margin: auto;
    top: 5px;
    right: 10px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    background-color: #e95420;
    padding: 2px 2px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
a:hover{
    background-color: #1e222a;
    color: #fff;
    transition: 0.3s ease;
}
.note_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.note_textarea {
    padding: 10px;
    font-size: 1rem;
    font-family: "Cinzel", serif;
    background-color: #2a2f38;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    resize: none;
}
textarea::placeholder{
    font-family: "Cinzel", serif;
    color: #888;

}
input.note-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4c97e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input.note-button:hover {
    background-color: #357ae8;
    transition: 0.3s ease;
}
