body {
    background-color: #2c2c2c;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imagen-usuario {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(imagenes/4fed59cf-02d6-4f10-942e-93dfab39d3fc-md.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.svg-loader{
    display:flex;
    position: relative;
    align-content: space-around;
    justify-content: center;
}

.svg-container{
    width: 80px;
    height: 80px;
}

.loader-svg{
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    fill: none;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke: rgb(253, 253, 253);
}
.loader-svg.bg{
    stroke-width: 8px;
    stroke: rgb(152, 149, 206);
}

.loader-svg.animate{
    stroke-dasharray: 242.6;
    animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
}

@keyframes fill-animation{
    0%{
        stroke-dasharray: 40 242.6;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 141.3;
        stroke-dashoffset: 141.3;
    }
    100%{
        stroke-dasharray: 40 242.6;
        stroke-dashoffset: 282.6;
    }
}

.usuario {
    border-radius: 10px;
    height: 10px;
    width: 10;
    border: 5px;
}